h1{
    
    color:red;
}
#home-intro{
    text-align: center;
    border:3px;
    border-color: black;
    border-style: solid;
    
    
}
#home-intro:hover{
    background-color: burlywood;
}
#p2{
    color: blue;
}
#nav{
    text-align: center;
    background-color: brown;
    height: 25px;
    padding-top: 1cm;

}
#nav a{
    margin: 0px 7px;
    text-decoration: none;
    color: aliceblue;
}
#card{
    align-items: center;
    width: 300px;
    height: 500px;
    border: 3px solid black;
    align-items: center;
    margin: 5px;
}
#card-img{
    width: 300px;
    height:300px;
    align-items: center;
    margin: 0px auto;
}
img{
    width: 300px;
    height: 300px;
    
}
#card h1,p{
    text-align: center;
}
#action{
    text-align: center;
}