h1{
    
    color:red;
}
#home-intro{
    text-align: center;
    border:3px;
    border-color: black;
    border-style: solid;
    
    
}
#home-intro:hover{
    background-color: burlywood;
}
#p2{
    color: blue;
}
#nav{
    text-align: center;
    background-color: brown;
    height: 15px;
    padding-top: 1cm;

}
#nav a{
    margin: 0px 7px;
    text-decoration: none;
    color: aliceblue;
}